.stone {
    width: 75%;
    height: 75%;
    margin: auto;

    -moz-border-radius: 100% / 50%;
    -webkit-border-radius: 100% / 50%;
    border-radius: 50% / 50%;

    /*place the crown in center of the div*/
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: showAnimation;
    animation-duration: 0.25s;
    opacity: 1;
}

.black {
    background: #282c34;
    border: solid 5px black;
}
.black:hover {
    background: black;
    border: solid 5px #282c34;
}

.white {
    background: white;
    border: solid 5px darkgrey;
}
.white:hover {
    background: darkgrey;
    border: solid 5px white;
}

.hidden {
    display: none;
}

.stone-hide {
    animation-name: hideAnimation;
    animation-duration: 0.5s;
    opacity: 0;
}

.stone-killed {
    animation-name: hideAnimation;
    animation-duration: 0.75s;
    opacity: 0;
}

.queen{
    max-width: 100%;
    max-height: 100%;
}

@keyframes hideAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes hideAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes showAnimation {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes showAnimation {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}


@media screen and (min-width: 415px) and (max-width: 767px)  {
    .black {
        border: solid 4px black;
    }
    .black:hover {
        border: solid 4px #282c34;
    }
    .white {
        border: solid 4px darkgrey;
    }
    .white:hover {
        border: solid 4px white;
    }
}

@media only screen and (max-width:415px) {
    .black {
        border: solid 3px black;
    }
    .black:hover {
        border: solid 3px #282c34;
    }
    .white {
        border: solid 3px darkgrey;
    }
    .white:hover {
        border: solid 3px white;
    }
}

@media only screen and (max-width:350px) {
    .black {
        border: solid 2px black;
    }
    .black:hover {
        border: solid 2px #282c34;
    }
    .white {
        border: solid 2px darkgrey;
    }
    .white:hover {
        border: solid 2px white;
    }
}

